---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Mohammed Ashif" description="About Mohammed Ashif Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
                                     src="/assets/pic2.jpg"
					width="1553"
					height="873"
					
					
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Hi, I'm Mohammed Ashif, a developer, speaker, and writer with a passion for artificial intelligence.
                                                I'm currently pursuing a B.Tech in Information Technology at Sethu Institute of Technology, and I'm 
                                                dedicated to combining my technical skills with creative problem-solving to build impactful solutions.
					</p>
					<p2>
						My journey into the tech world has been driven by a deep fascination with AI and its potential to change the world.
                                                I believe in leveraging technology to solve real-world problems, whether through innovative software development,
                                                insightful talks, or sharing knowledge throughwriting.

                                                Alongside my academic pursuits, I have worked on several exciting projects, including building [examples of projects 
                                                or applications].You can see more of my work in my Portfolio or check out my blog/articles for insights on AI and development
					</p2>
					<p3>
						In addition to tech, I'm passionate about leadership and love mentoring others, guiding teams toward their goals,
                                                and speaking at events to share ideas and inspire others to push the boundaries of what's possible.
                                                Feel free to reach out to me for collaboration, speaking opportunities, or just to connect!
					</p3>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p> I have gained a strong foundation in computer science and AI technologies, and have actively worked on projects 
                                            involving machine learning, data analysis,full stack development and web development. I am always seeking new challenges
                                            and learning opportunities to expand my knowledge..</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p> Programming Languages:    Proficient in languages such as Python, JavaScript, Java, and C++ for web and software development, as well as data science and AI projects.
                                            Web Development:    Skilled in building responsive websites and web applications using HTML, CSS, JavaScript, and frameworks like React and Node.js.
                                            Artificial Intelligence & Machine Learning:     Experience with AI algorithms, TensorFlow, scikit-learn, and Keras for building intelligent systems and data-driven applications.
                                            Database Management:        Knowledge of SQL and NoSQL databases (e.g., MySQL, MongoDB) for data storage and management.
                                            Cloud Technologies:       Familiar with AWS and Google Cloud for deploying and managing applications in cloud environments.
                                            Version Control:       Proficient in using Git and GitHub for code versioning and collaboration </p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
